[runtime]
environment="$RUNTIME_ENVIRONMENT||development"

[log]
level="$LOG_LEVEL||debug"

[server]
port="$SERVER_PORT||8444"
username="fkr6BXD7tdu-rcv5whx"
password="pgd1ekz@avj.VYB2geb"

[cors]
origins="https://dropezy.retool.com"

[mongo]
host="$MONGO_HOST||localhost"
port="$MONGO_PORT||"
user="$MONGO_USER||storefront"
password="$MONGO_PASSWORD||password"
name="$MONGO_DBNAME||storefront"
srv="$MONGO_SRV||false"
opts="$MONGO_OPTS||retryWrites=true&w=majority"

[datadog]
agentAddr="$DATADOG_AGENT_ADDR||localhost:8126"
